
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>;
  </script>
<% end %>

<main id="root">React is not working</main>

<script type="text/javascript">
  window.spotifyLogoURL = "<%= image_url('spotify_logo.png') %>";
  window.blackLogoURL = "<%= image_url('spotify_logo_black.png') %>";
  window.whiteLogoURL = "<%= image_url('spotify_logo_white.png') %>";
</script>

