#home-page{
    background: linear-gradient(180deg, rgb(30, 30, 30), rgb(54, 54, 54), rgb(30,30,30));
    background-size: 600% 600%;

    -webkit-animation: GradientBackground 20s ease infinite;
    -moz-animation: GradientBackground 20s ease infinite;
    animation: GradientBackground 20s ease infinite;
}


@-webkit-keyframes GradientBackground {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes GradientBackground {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes GradientBackground {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}


.body {
    // background: linear-gradient(rgb(43,12,60), rgb(18,18,18));
    width: 100%;
    height: 100%;
    color: white;
    padding: 30px;
    margin-left: 240px;
    padding-bottom: 150px;
    padding-top: 100px;
}

.body-section-1-container, .body-section-2-container,.body-section-3-container{
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding: 0px;
    // border: 1px solid red;
}

.body-section-2-container,.body-section-3-container{
    justify-content: space-between;

}
.body-section-1{
    background-color: rgba(66, 66, 66, 0.4);
    transition: background-color 200ms ease-in-out;
    border-radius: 8px;
    height: 80px;
    margin: 10px;
    // padding: 10px;
    a{
        padding-right: 50px;
        display: flex;
        align-items: center;
    }
    svg{
        // border: 1px solid red;
        background: transparent;

    }
    display: flex;
    align-items: center;
    // *{
    //     border: 1px solid red;
    // }

    &:hover {
        background-color: rgba(128, 128, 128, 0.4);
        transition: background-color 200ms ease-in-out;
        transition: transform 200ms ease-in-out;
        transform: scale(1.01);
    }
}

.body.play-btn{
    color:var(--spotifygreen);
    height: 45px;
    width: 45px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0;
    margin-right: 15px;
    margin-left: auto;
    transition: opacity .2s ease-in-out;
}

.body-section-1:hover .body.play-btn,
.body-section-2:hover .body.play-btn,
.body-section-3:hover .body.play-btn{
    transition: opacity .2s ease-in-out;
    opacity: 1;
    // box-shadow: 0px 11px 24px -7px white;
}

.body-section-1-row-1,.body-section-1-row-2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    p{
        margin-left: 20px;
        font-weight: 600;
    }

}


.body-section-1-img{
    height: 80px;
    border-radius: 3px;
}

.body-section-2-img,.body-section-3-img{
    height: 170px;
    width: 170px;
    margin-bottom: 20px;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 11px 24px -7px black;
}


.body h1{
    font-weight: 700;
    font-size: 30px;
}

.body h2{
    font-weight: 700;
    font-size: 20px;
}

.body-section-2, .body-section-3 {
    background-color: rgba(31, 31, 31, 0.4);
    transition: background-color 200ms ease-in-out;
    border-radius: 8px;
    min-width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    svg{
        position: absolute;
        bottom: 10px;
        right: 0;
    }
    h3{
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 12px;
    }
    p{
        font-size: 13px;
        color: var(--textgrey);
    }
    &:hover{
        transition: transform 200ms ease-in-out;
        transform: scale(1.01);
        transition: background-color 200ms ease-in-out;
        background-color: rgba(61, 61, 61, 0.4);
        cursor: pointer;
    }
}

