

.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
    background-color: rgb(24,24,24);
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.song-details{
    flex:.3;
    // border: 1px solid aqua;
    display: flex;
    align-items: center;
    color: white;
}

.player-controls{
    // border: 1px solid magenta;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    color: var(--textgrey);
}

.player-center-btns{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid aqua;
    margin-bottom: 10px;
}
.player-center-btns *:hover{
    color: white;
}

.play-btn{
    color: white;
}

.play-btn:hover{
    transition: transform 200ms ease-in-out;
    transform: scale(1.1);
}

.scroll-bar-container{
    display: flex;
    align-items: center;
    p{
        font-size: 12px;
        color: var(--textgrey);
    }
}

.volume-controls{
    flex:.3;
    display: flex;
    // border: 1px solid burlywood;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    background: rgb(83,83,83);
    border-radius: 30px;
    outline: none;
    width: 150px;
    height: 4px;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 12px;
        width: 12px;
        opacity: 0;
        background: white;
        // border: 1px solid rgb(226, 226, 226);
        border-radius: 50%;
    }
    &:hover{
        &::-webkit-slider-thumb {
            opacity: 1;
        }
    }
}


#music-duration-slider{
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;;
    height: 4px;
    width: 500px;
}

 
.mute-btn{
    color: var(--textgrey);
    padding-right:10px;
}

.song-details *{
margin-right: 10px;
}

#album-img{
//   border: 1px solid white;
    width: 60px;
    height: 60px;
    object-fit: contain;
}

  #footer-like-btn{
      color: var(--textgrey);
      &:hover{
        color: var(--spotifygreen);
      }
  }

#current-song-name{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
    // padding-right: 30px;
}

#current-artist-name{
    color: var(--textgrey);
    font-size: 11px;
}

.clicked{
    color: var(--spotifygreen);
}