
.header{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-right: 40px;
    color: white;
    // border: 1px solid black;
}

.header-dropdown{
    // border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    #avatar{
        padding-right: 10px;
    }
    h4{
        padding-right: 10px;
    }
}

.header-user-info{
    display: flex;
}

.dropdown {
    width: 100px;
    position: absolute;
    top: 40px;
    list-style: none;
    text-align: start;
}

.dropdown li {
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border-radius: 5px;
}

.dropdown.clicked {
    display: none;
}

.logout {
    display: block;
    text-decoration: none;
    color: var(--textgrey);
    padding: 8px;
    font-size: small;
    &:hover{
        color: white;
    }
}

