
    .playlist-header {
        display: flex;
        // border: 1px solid aqua;
    }
    
    .playlist-cover-img{
        width: 220px;
        align-self: flex-end;
        padding-right: 20px;
    }
    
    

    