.sidebar {
    height: 100%;
    // border: 1px solid black;
    background-color: black;
    width: 200px;
    padding: 10px;
    color: white;
    position: fixed;
    top:0;
    margin-bottom: 3em;
    overflow: auto;

}

.sidebar-logo{
    width: 100px;
    padding: 9px;
}
.sidebar-options {
    display: flex;
    flex-direction: column;
}

.sidebar-options a, .sidebar-options div {
    color: rgb(177,177,177);
    padding: 13px;
    display: flex;
}

.sidebar-options a:hover, .sidebar-options div:hover {
    color: white;
    transition: color .2s ease-in-out;
}

.sidebar-options svg {
    width: 20px;
    font-size: large;
}
.sidebar-options span {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.sidebar-divider {
    border: .1px solid rgba(177, 177, 177, 0.712);;
}

.about-me-btn{
    margin-bottom: 20px;
}

.sidebar p {
    padding: 10px;
    margin-top: 10px;
    color: rgb(177,177,177);
    font-size: 13px;
    &:hover{
    color: white;
    transition: color .2s ease-in-out;
    }
}

.sidebar-playlists{
    margin-bottom: 150px;
}