.sidebar {
    height: 100%;
    border: 1px solid black;
    background-color: black;
    width: 200px;
    padding: 10px;
    color: white;
    position: fixed;
    top:0;
}

.sidebar-logo{
    width: 100px;
    padding: 9px;
}
.sidebar-options {
    display: flex;
    flex-direction: column;
}

.sidebar-options a, .sidebar-options .create-playlist {
    color: rgb(177,177,177);
    padding: 10px;
    display: flex;
    align-items: center;
}

.sidebar-options a:hover, .sidebar-options .create-playlist:hover {
    color: white;
}

.sidebar-options span {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-divider {
    border: .1px solid rgba(177, 177, 177, 0.712);;
}

.sidebar p {
    padding: 10px;
    margin-top: 10px;
    color: rgb(177,177,177);
    font-size: 13px;
    &:hover{
    color: white;
    }
}