

.song-item{
    // border: 1px solid red;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover{
        background-color: rgba(48, 48, 48, 0.336);
        cursor: pointer;
    }
}

.song-item .playing {
    color: var(--spotifygreen);
}

.song-idx-num{
    // flex: .1;
    padding-right:15px;
}

.song-container-right{
    display: flex;
    margin-left: auto;
    .song-row-like, p {
        padding-right: 15px;
    }
    margin-right: 50px;
}